# Dual monitor setup
xrandr --output eDP-1 --primary --mode 1920x1080 --rotate normal --output HDMI-1 --rotate normal --right-of eDP-1 &

#Redshift 
redshift &

#Suspend 
xidlehook --not-when-audio --not-when-fullscreen --timer 1800 '/usr/local/bin/slock' '' &

#Compositor
picom --experimental-backends -b &

#Sxhkd 
sxhkd &

#Dwmblocks
dwmblocks &

#Wallpaper 
feh --bg-scale ~/Pictures/wallpapers/landscapes/evening-sky.png &

#Switch caps lock to ctrl
setxkbmap -option caps:ctrl_modifier &

#Clipmenu
clipmenud &